<div class="navbar">
  <div class="">
    <img
      class="navbar__logo"
      src="https://play-lh.googleusercontent.com/fXQVXTma1ENwAFjsxJ4IT6GntBr3RxWP3HMSLbNdvycl-0tscOQEeJIEAmehcNOt5hCp=w600-h300-pc0xffffff-pd"
      alt=""
    />
  </div>
  <div class="navbar__links">
    <ul>
      <li><a class="navbar__link" href="">Inicio</a></li>
      <li><a class="navbar__link" href="/episodes">Episodios</a></li>
      <li><a class="navbar__link" href="/locations">Locaciones</a></li>
    </ul>
  </div>
</div>
