<!-- <a href="/character/{{character.id}}" class="card-container"> -->
<!-- <a routerLink="/character/{{character.id}}" [queryParams]="{name: character.name}" class="card-container"> -->
<a routerLink="/character/{{character.id}}" class="card-container">
    <div class="card-container__img">
        <img class="card-img" src="{{character.image}}" alt="">
       <div [ngClass]="['card-state', character.status.toLowerCase()]">
            <!-- {{character.status == 'Alive' ? 'Vivo' : (character.status == 'unknown' ? 'Desconocido' : 'Muerto')}} -->
            {{spanishState.get(character.status)}}
        </div>
        <div class="card-species">
           {{spanishSpecies.get(character.species)}}
        </div>
    </div>
    <div class="card-section">
        <h3>{{character.name}}</h3>
        <div class="card-section__info">
            <span class="card-extra__info">Apariciones {{character.episode.length}}</span>
        </div>
    </div>
</a>
