<div class="detail-container">
    <section class="detail-container__info">
        <!-- <img class="img" src="{{characterGif.results[0].media_formats.gif.url}}" alt=""> -->
        <img class="img" src="{{character.image}}" alt="">
        <div class="detail-container__content">
            <h1 class="detail-container__title">{{character.name}}</h1>
            <span class="detail-container__location">Última localización conocida</span>
            <a href="" class="detail-container__location__response">{{character.location.name}}</a>
        </div>
        <img class="img" src="{{characterGif.results[0].media_formats.gif.url}}" alt="">

    </section>
    <!-- {{ characterGif | json }} -->

</div>
